# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Public assets junction
public/assets
public/assets/

# Extra downloads / archives / large P3R videos
assets/Persona 3 Reload*/
assets/p3r_videos/
public/assets/p3r_videos/

# Logs
*.log
npm-debug.log*

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
